{{ define "main" }}
<div class="home-intro">
  <h1>Hey, I'm Priyanshu</h1>
  <p>I write about my shenanigans here, sprinkled with some Mathematics, Physics, Computer Science, Electronics, and Philosophy. I hope you enjoy some of this stuff.</p>
</div>

{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ if $posts }}
<p class="section-label">Writing</p>
<ul class="post-list">
  {{ range first 20 $posts }}
  <li class="post-entry">
    {{ if not .Date.IsZero }}
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2006" }}</time>
    {{ else }}
    <span style="min-width:5.5rem;display:inline-block"></span>
    {{ end }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}
